[deploy_mode]
deploy_mode = "Cluster"

[http_service_config]
host = "0.0.0.0"
port = 30000

[grpc_service_config]
enable = false
host = "0.0.0.0"
port = 40000


[meta_config.etcd_client]
etcd_endpoints = "{{ETCD_ENDPOINT}}"
catalog_name = "{{CATALOG_NAME}}"


## Tracing options
[tracing_config]
## Enable OTLP tracing.
enable_otlp_tracing = true

## The OTLP tracing endpoint.
otlp_endpoint = "{{OTLP_ENDPOINT}}"
